.top-menu{
	height:104px;
	background-color:whitesmoke;
}
.logo-text{
	padding-top:15px;
	padding-left:20px;
	text-align:left;
	font-family: 'Oswald', sans-serif;
	font-weight:500;
	word-spacing:15px;
	font-size:4em;
}
.head-text{
	padding-left:10px;
	font: small-caps bold 32px/1 sans-serif;
	font-weight:700;
	text-align:center;
	background-color:#e3e0e0;
	word-spacing:50px;
	padding-bottom:10px;
	padding-top:10px;
}
a:hover{
	text-decoration:overline;
}

a {
	text-decoration:none;
	color:black;
}
#menu .current-menu-item a {
	text-decoration:overline;
}
footer{
	text-align:center;
}
.text-inside{
	float:left;
}
.pct-text{
	font-family: 'Oswald', sans-serif;
	font-weight:500;
	word-spacing:15px;
	font-size:4em;
	text-align:center;
	background-color: #dad4d4;
	height:85px;
	padding-top:30px;
}
.rel{
	position:relative;
}
.backcolor{
	background-color: #dad4d4;
	width:100%;
}
.pct-text2{
	font-size:1.7em;
	text-align:center;
	background-color: #dad4d4;
	padding-bottom:50px;
}
.pct-text3{
	font-family: 'Oswald', sans-serif;
	font-weight:500;
	word-spacing:15px;
	font-size:4em;
	text-align:center;
	background-color: #dad4d4;
	height:150px;
	padding-top:30px;
	padding-bottom:50px;
}
.foot{
	height:200px;
	background-color:black;
}
.foot-text{
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
	text-align:left;
	padding-top:133px;
	padding-left:150px;
	padding-right:150px;
	font-size:20px;
}
.foot-text2{
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
	text-align:left;
	font-size:40px;
padding-top:15px;
	padding-left:147px;
	width:50%;
	float:left;
}
.foot-text3{
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
	text-align:left;
	font-size:28px;
	float:left;
	padding:15px 0 0 0;

}