.top-menu{
	height:160px;
	background-color:whitesmoke;
}
.logo-text{
	padding-top:30px;
	padding-left:20px;
	text-align:left;
	font-family: 'Oswald', sans-serif;
	font-weight:500;
	word-spacing:15px;
	font-size:4em;
}
.textunderlogo{
	font-family: 'Oswald', sans-serif;
	padding-left:20px;
	padding-top:10px;
	font-size:2em;
	word-spacing:5px;
}
.head-text{
	padding-left:10px;
	font: small-caps bold 32px/1 sans-serif;
	font-weight:700;
	text-align:center;
	background-color:#fbfbfb;
	word-spacing:50px;
	padding-bottom:41px;
	padding-top:46px;
}


a {
	text-decoration:none;
	color:black;
}
#menu .current-menu-item a {
	text-decoration:overline;
}
footer{
	text-align:center;
}
.text-inside{
	float:left;
}
.pct-text{
	font-family: 'Oswald', sans-serif;
	font-weight:500;
	word-spacing:15px;
	font-size:4em;
	text-align:center;
	background-color: #fbfbfb;
	height:85px;
	padding-top:30px;
}
.rel{
	position:relative;
}
.backcolor{
	background-color: #fbfbfb;
	width:100%;
}
.pct-text2{
	font-size:1.7em;
	text-align:center;
	background-color: #fbfbfb;
	padding-bottom:50px;
}
.pct-text3{
	font-family: 'Oswald', sans-serif;
	font-weight:500;
	word-spacing:15px;
	font-size:4em;
	text-align:center;
	background-color: #fbfbfb;
	height:150px;
	padding-top:30px;
	padding-bottom:50px;
}
.foot{
	height:200px;
	background-color:black;
}
.foot-text{
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
	text-align:left;
	padding-top:133px;
	padding-left:150px;
	padding-right:150px;
	font-size:20px;
}
.foot-text2{
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
	text-align:left;
	font-size:40px;
padding-top:15px;
	padding-left:147px;
	width:50%;
	float:left;
}
.foot-text3{
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
	text-align:left;
	font-size:28px;
	float:left;
	padding:15px 0 0 0;

}

a {
	line-height: 1.2;
	position: relative;
	padding: 0 14px;
	text-transform: uppercase;
}
a:after {
	content: "";
	height: 100%;
	min-width: 4px;
	background:#000000;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: .5s;
}
a:hover:after {
	min-width: 100%;
	background: #95a5a6;
	opacity: .35;
}
.cont {
	position: relative;
	text-align: center;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:white;

}
.centertext{
	font-family: 'Oswald', sans-serif;
	font-size:70px;
	padding-bottom:60px;
	word-spacing:10px;
}
.centerbottext{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:30px;
	padding-bottom:150px;
}
input[type="email"]{
	border: 1px solid #e4e4e4;
	background-color: transparent;
	font-size: 24px;
	line-height: 25px;
	letter-spacing: 0.05em;
	border-left: none;
	border-right: none;
	height: 60px;
	cursor:text;
	outline: none;
}
input[type="submit"]{

}
.placeholder{
	color:white;
}



.animated-button.thar-two {
	border:4px solid black;
	color:#000000;
	background-color:#ffffff;
	cursor: pointer;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	height:66px;
	width:200px;
	font-size:30px;
	padding-bottom:8px;
}
.animated-button.thar-two:hover {
	color:#ffffff !important;
	background-color: black;
	text-shadow:white;
}
.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}